<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parkoló</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="home-container">
    <h1 class="main-title">Parkoló</h1>
    <div class="button-group">
        <a th:href="@{/add-car}">
            <button>Autó hozzáadása</button>
        </a>
        <a th:href="@{/status}">
            <button>Parkolóhelyek</button>
        </a>
    </div>
</div>
</body>
</html>